<mat-card *ngIf="!lockSpace" class="main-card">
    <mat-card-header>
      <div mat-card-avatar class="main-header-image"></div>
      <mat-card-title>CONAE</mat-card-title>
      <mat-card-subtitle>Comision Nacional de Actividades Espaciales</mat-card-subtitle>
    </mat-card-header>
</mat-card>


<div *ngIf="lockSpace" class="main-card center-content">
  <p #tooltip="matTooltip"
  matTooltip="Proximamente"
  matTooltipPosition="below"
  matTooltipHideDelay="0">
    
    <button [disabled]="true" type="button" (click)="buttonUnlockComponent()" mat-raised-button>
      <mat-icon aria-hidden="false" aria-label="lock_open" fontIcon="lock_open"></mat-icon>
      Desbloquear CONAE
    </button>
  </p>
</div>
