<mat-card *ngIf="!lockConicet" class="main-card">
    <mat-card-header>
      <div mat-card-avatar class="main-header-image"></div>
      <mat-card-title>CONICET</mat-card-title>
      <mat-card-subtitle>Consejo Nac. de Investigaciones Científicas y Técnicas</mat-card-subtitle>
    </mat-card-header>
</mat-card>


<div *ngIf="lockConicet" class="main-card center-content">
  <p>
    
    <button type="button" (click)="buttonUnlockComponent()" mat-raised-button>
      <mat-icon aria-hidden="false" aria-label="lock_open" fontIcon="lock_open"></mat-icon>
      Desbloquear CONICET
    </button>
  </p>
</div>
