<mat-card *ngIf="!lockConicet" class="main-card">
    <mat-card-header>
      <div mat-card-avatar class="main-header-image"></div>
      <mat-card-title>CONICET</mat-card-title>
      <mat-card-subtitle>Consejo Nac. de Investigaciones Científicas y Técnicas</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>

      <p class="subtitle">Puntos de Desarrollo</p>
      <p class="currency">{{sciencePointsRounded}}</p>

      <p class="upgrade-content">
        <span>Ñoquis: {{scientist}}</span>
        <span fxFlex fxLayoutAlign="end center">
            <button type="button" color="primary" (click)="buttonAddScientist()" mat-raised-button >Contratar Ñoqui</button>
        </span>
      </p>

      <p class="upgrade-content">
        <span>Sueldos: <span style="color: red;">${{scientistCostRounded}}/seg</span></span>
        <span fxFlex fxLayoutAlign="end center">
            <button [disabled]="!allowRemoveScientist()" type="button" color="warn" (click)="buttonRemoveScientist()" mat-raised-button >Despedir Ñoqui</button>
        </span>
      </p>

    </mat-card-content>

</mat-card>


<div *ngIf="lockConicet" class="main-card center-content">
  
  <p #tooltip="matTooltip"
  matTooltip="Precio: USD {{componentPrice}}"
  matTooltipPosition="below"
  matTooltipHideDelay="0">  

    <button [disabled]="!allowButtonUnlock()" type="button" (click)="buttonUnlockComponent()" mat-raised-button>
      <mat-icon aria-hidden="false" aria-label="lock_open" fontIcon="lock_open"></mat-icon>
      Desbloquear CONICET
    </button>
  </p>
</div>
