<mat-card class="main-card">
    <mat-card-header>
      <div mat-card-avatar class="main-header-image"></div>
      <mat-card-title>Presidencia de la Nacion</mat-card-title>
      <mat-card-subtitle>Poder Ejecutivo Nacional</mat-card-subtitle>
    </mat-card-header>
    
    <mat-card-content>
            <p></p>
            <p>Ministerios: {{ministerio.level}}</p>
            <p>Ñoquis: {{worker.level}}</p>
    </mat-card-content>


    <mat-card-actions>        
        <p><button type="button" mat-raised-button>Abrir Ministerio</button></p>
        <p><button type="button" mat-raised-button>Contratar Ñoqui</button></p>
    </mat-card-actions>
</mat-card>
