<mat-card *ngIf="!lockGovernment" class="main-card">
    <mat-card-header>
      <div mat-card-avatar class="main-header-image"></div>
      <mat-card-title>Presidencia de la Nacion</mat-card-title>
      <mat-card-subtitle>Poder Ejecutivo Nacional</mat-card-subtitle>
    </mat-card-header>
    
    <mat-card-content>
            <p class="subtitle">Poder Político (PP)</p>
            <p class="currency">{{powerPointsRounded}}</p>

            <p class="subtitle">Jefatura de Gabinete</p>

            <p class="upgrade-content">
              <span>Ministerios: {{ministerio.level}}</span>
              <span fxFlex fxLayoutAlign="end center" #tooltip="matTooltip"
              matTooltip="Precio: ${{ministerioPrice}}"
              matTooltipPosition="below"
              matTooltipHideDelay="0">
                  <button [disabled]="!allowAbrirMinisterio()" type="button" color="primary" (click)="buttonAbrirMinisterio()" mat-raised-button >Abrir Ministerio</button>
              </span>          
            </p>
          
          <p class="upgrade-content">
              <span>Ñoquis: {{worker}} / {{workerLimit}}</span>
              <span fxFlex fxLayoutAlign="end center">
                  <button [disabled]="!allowAddWorker()" type="button" color="primary" (click)="buttonAddWorker()" mat-raised-button >Contratar Ñoqui</button>
              </span>
          </p>

          <p class="upgrade-content">
            <span>Sueldos: <span style="color: red;">${{workerCostRounded}}/seg</span></span>
            <span fxFlex fxLayoutAlign="end center">
                <button [disabled]="!allowRemoveWorker()" type="button" color="warn" (click)="buttonRemoveWorker()" mat-raised-button >Despedir Ñoqui</button>
            </span>
          </p>

          <p>
            <br>
            <span><button type="button" class="buttonAltGov" color="primary" (click)="buttonAltGov()" mat-raised-button >Establecer Forma de Gobierno Alternativa</button></span>
          </p>
    </mat-card-content>
</mat-card>

<!--add "&& displayButtonUnlock()""-->
<div *ngIf="lockGovernment" class="main-card center-content" >
  <p #tooltip="matTooltip"
  matTooltip="Precio: ${{componentPrice}}"
  matTooltipPosition="below"
  matTooltipHideDelay="0">    
    <button [disabled]="!allowButtonUnlock()" type="button" (click)="buttonUnlockComponent()" mat-raised-button>
      <mat-icon aria-hidden="false" aria-label="lock_open" fontIcon="lock_open"></mat-icon>
      Desbloquear Presidencia
    </button>
  </p>
</div>
