/* C O N T A I N E R S */

.container-padding{
    padding: 5px;
    box-sizing: border-box;
}

#container-main{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100vh;
    
}

#container-left{
    display: flex;
    flex-direction: row;
    width: 55%;
    height: 100%;
}

#container-left-left{
    display: flex;
    width: 33%;
    height: 100%;
}

#container-left-right{
    display: flex;
    flex-direction: column;
    width: 67%;
    height: 100%;
}

#container-left-right-top{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 60%;
}

#container-left-right-bottom{
    display: flex;
    width: 100%;
    height: 40%;
}

#container-left-right-top-left{
    display: flex;
    height: 100%;
    width: 50%;
}

#container-left-right-top-right{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 50%;
}

#container-left-right-top-right-top{
    display: flex;
    height: 50%;
    width: 100%;
}

#container-left-right-top-right-bottom{
    display: flex;
    height: 50%;
    width: 100%;
}



#container-right{
    display: flex;
    flex-direction: column;
    width: 45%;
    height: 100%;
}

#container-right-top{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 50%;
}

#container-right-bottom{
    display: flex;
    width: 100%;
    height: 50%;
}

#container-right-top-left{
    display: flex;
    width: 40%;
    height: 100%;
}

#container-right-bottom-left{
    display: flex;
    width: 63%;
    height: 100%;
}

#container-right-bottom-right{
    display: flex;
    flex-direction: column;
    width: 37%;
    height: 100%;
}

#container-right-bottom-right-top{
    display: flex;
    width: 100%;
    height: 50%;
}

#container-right-bottom-right-bottom{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 50%;
}

#container-right-bottom-right-bottom-top{
    display: flex;
    width: 100%;
    height: 40%;
}

#container-right-bottom-right-bottom-bottom{
    display: flex;
    width: 100%;
    height: 60%;
}


/* C O M P O N E N T S */



#app-incremental-main{
    min-width: 100%;
    min-height: 100%;
}

#app-agro-main{
    min-width: 100%;
    min-height: 100%;
}

#app-futbol-main{
    min-width: 100%;
    min-height: 100%;
}

#app-estado-main{
    min-width: 100%;
    min-height: 100%;
}

#app-afip-main{
    min-width: 100%;
    min-height: 100%;
}

#app-fmi-main{
    min-width: 100%;
    min-height: 100%;
}

#app-speech-bubble{
    min-width: 100%;
    min-height: 100%;
}


/* M I S C */

.borde{
    border: 0px;
}

