/* C O N T A I N E R S */

.container-padding{
    padding: 5px;
    box-sizing: border-box;
}

#container-main{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100vh;
    
}

#container-left{
    display: flex;
    flex-direction: row;
    width: 55%;
    height: 100%;
}

#container-left-left{
    display: flex;
    flex-direction: column;
    width: 33%;
    height: 100%;
}

#container-left-left-top{
    display: flex;
    width: 100%;
    height: 74%;
}

#container-left-left-bottom{
    display: flex;
    width: 100%;
    height: 26%;
}

#container-left-right{
    display: flex;
    flex-direction: column;
    width: 67%;
    height: 100%;
}

#container-left-right-top{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 63%;
}

#container-left-right-bottom{
    display: flex;
    width: 100%;
    height: 37%;
}

#container-left-right-top-left{
    display: flex;
    height: 100%;
    width: 50%;
}

#container-left-right-top-right{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 50%;
}

#container-left-right-top-right-top{
    display: flex;
    height: 35%;
    width: 100%;
}

#container-left-right-top-right-bottom{
    display: flex;
    height: 65%;
    width: 100%;
}



#container-right{
    display: flex;
    flex-direction: row;
    width: 45%;
    height: 100%;
}

#container-right-left{
    display: flex;
    flex-direction: column;
    width: 45%;
    height: 100%;
}

#container-right-right{
    display: flex;
    flex-direction: column;
    width: 55%;
    height: 100%;
}

#container-right-left-top{
    display: flex;
    width: 100%;
    height: 40%;
}



#container-right-left-bottom{
    display: flex;
    width: 100%;
    height: 60%;
}

#container-right-right-top{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 60%;
}

#container-right-right-top-top{
    display: flex;
    width: 100%;
    height: 7%;

}

#container-right-right-top-bottom{
    display: flex;
    width: 100%;
    height: 93%;
}

#container-right-right-bottom{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 40%;
}

#container-right-right-bottom-top{
    display: flex;
    width: 100%;
    height: 50%;
}

#container-right-right-bottom-bottom{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 50%;
}

#container-right-right-bottom-bottom-left{
    display: flex;
    width: 35%;
    height: 100%;
}

#container-right-right-bottom-bottom-right{
    display: flex;
    width: 65%;
    height: 100%;
}


/* C O M P O N E N T S */

.app{
    min-width: 100%;
    min-height: 100%;
}

#incremental-main{
    min-width: 100%;
    min-height: 100%;
}

#agro-main{
    min-width: 100%;
    min-height: 100%;
}

#futbol-main{
    min-width: 100%;
    min-height: 100%;
}

#estado-main{
    min-width: 100%;
    min-height: 100%;
}

#afip-main{
    min-width: 100%;
    min-height: 100%;
}

#fmi-main{
    min-width: 100%;
    min-height: 100%;
}

#space-main{
    min-width: 100%;
    min-height: 100%;
}

#army-main{
    min-width: 100%;
    min-height: 100%;
}

#conicet-main{
    min-width: 100%;
    min-height: 100%;
}

#misc-button{
    min-width: 100%;
    min-height: 100%;
}

#speech-bubble{
    min-width: 100%;
    min-height: 100%;
}




/* M I S C */

.borde{
    border: 0px;
}

