.main-header-image {
  background-image: url('../../../assets/bcra-small.png');
  background-size: cover;
}

.button-main-print {
  width: 320px;
  height: 60px;
  font-size: larger;
}

.dolares{
  color: green;
}

.printer-section{
  font-size: medium;
}

.center-button { 
  display: flex;
  justify-content: center;
}