.main-card {
    max-width: 350px;
    margin: 15px;
  }
  
  .main-header-image {
    background-image: url('../../../assets/bcra-small.png');
    background-size: cover;
  }

  .subtitle {
    font-weight:bold;
  }

  .pesos{
    font-size: x-large;
  }