
<mat-card class="main-card">
    <mat-card-header>
      <div mat-card-avatar class="main-header-image"></div>
      <mat-card-title>Banco Central</mat-card-title>
      <mat-card-subtitle>de la República Argentina</mat-card-subtitle>
    </mat-card-header>
    
    <mat-card-content>
        <p class="subtitle">Reservas </p>
        <p class="currency">$ {{pesosRounded}}</p>
        <p class="currency dolares">USD {{dolaresRounded}}</p>
        <p class="subtitle" style="margin-top: 35px;">Imprimir</p>
    </mat-card-content>

    <mat-card-actions>        
        <p>
            <button type="button" (click)="buttonPrintPesos()" class="button-main-print" color="primary" mat-raised-button>${{currentBillete}}</button>
        </p>
    </mat-card-actions>

    

    <div class="printer-section">
        <mat-card-content>
            <p class="subtitle">Automatización</p>
            <p class="upgrade-content">
                <span>Impresoras: {{printer.level}} </span>
                <span fxFlex fxLayoutAlign="end center" #tooltip="matTooltip"
                matTooltip="Precio: ${{printerPrice}}"
                matTooltipPosition="below"
                matTooltipHideDelay="0">
                    <button [disabled]="!enableComprarImpresora()"  type="button" (click)="buttonComprarImpresora()" color="primary" mat-raised-button >+</button>
                </span>
            </p>
            <p>
                <span>Productividad: <span style="color: green;">${{pesosProduction}}/seg</span> </span>
                <!--
                <span><button [disabled]="!enableMejorarImpresoraEff()"  type="button" (click)="buttonMejorarImpresoraEff()" mat-raised-button>+</button></span> 
                -->
            </p>
            <p class="center-button" style="margin-top: 40px;" #tooltip="matTooltip"
            matTooltip="Precio: PP {{billetePrice}}"
            matTooltipPosition="below"
            matTooltipHideDelay="0">
                <button [disabled]="!enableUpgradeBillete()" (click)="buttonUpgradeBillete()" color="primary"  mat-raised-button>Sacar Nuevo Billete</button>
            </p>
        </mat-card-content>
    </div>


  </mat-card>
  
