<h2 mat-dialog-title style="display: flex; justify-content: center; margin-top: 30px; font-size: xx-large;">Seleccioná Nueva Forma de Gobierno</h2>
<mat-dialog-content class="mat-typography">
    
    <div id="menu-alt-gov">
        
        <mat-card class="alt-gov-card">
            <mat-card-header>
            
            </mat-card-header>
            <img mat-card-image src="../../../assets/flags resized/flag-communism.png" alt="flag comunismo">
            <mat-card-title class="alt-gov-title" style="font-size: x-large;">Comunismo</mat-card-title>
            <mat-card-content >
            <p class="alt-gov-description">
                Pierde: <br>
                <br>
                <br>
                <br>
                <br>
                Adquiere: <br>
                <br>
                <br>
            </p>
            </mat-card-content>
            <mat-card-actions>
            </mat-card-actions>
        </mat-card>
        
        <mat-card class="alt-gov-card">
            <mat-card-header>
            
            </mat-card-header>
            <img mat-card-image src="../../../assets/flags resized/flag-ancap.png" alt="flag ancap">
            <mat-card-title class="alt-gov-title" style="font-size: x-large;">Anarcocapitalismo</mat-card-title>
            <mat-card-content >
            <p class="alt-gov-description">
                Pierde: <br>
                <br>
                <br>
                <br>
                <br>
                Adquiere: <br>
                <br>
                <br>
                
            </p>
            </mat-card-content>
            <mat-card-actions>
            </mat-card-actions>
        </mat-card>

        <mat-card class="alt-gov-card">
            <mat-card-header>
            
            </mat-card-header>
            <img mat-card-image src="../../../assets/flags resized/flag-monarquia.png" alt="flag monarch">
            <mat-card-title class="alt-gov-title" style="font-size: x-large;">Monarquia</mat-card-title>
            <mat-card-content >
            <p class="alt-gov-description">
                Pierde: <br>
                <br>
                <br>
                <br>
                <br>
                Adquiere: <br>
                <br>
                <br>
            </p>
            </mat-card-content>
            <mat-card-actions>
            </mat-card-actions>
        </mat-card>

        <mat-card class="alt-gov-card">
            <mat-card-header>
            
            </mat-card-header>
            <img mat-card-image src="../../../assets/flags resized/flag-confederacion.png" alt="flag confederacion">
            <mat-card-title class="alt-gov-title" style="font-size: x-large;">Nueva Confederación</mat-card-title>
            <mat-card-content >
            <p class="alt-gov-description">
                Pierde: <br>
                <br>
                <br>
                <br>
                <br>
                Adquiere: <br>
                <br>
                <br>
            </p>
            </mat-card-content>
            <mat-card-actions>
            </mat-card-actions>
        </mat-card>

    </div>
      
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Install</button>
</mat-dialog-actions>

