<mat-card *ngIf="!lockFutbol" class="main-card">
    <mat-card-header>
      <div mat-card-avatar class="main-header-image"></div>
      <mat-card-title>AFA</mat-card-title>      
      <mat-card-subtitle>Asociación de Fútbol Argentino</mat-card-subtitle>
    </mat-card-header>
    
    <mat-card-content>
            <p>Copas</p>
    </mat-card-content>


    <mat-card-actions>        
        <p><button type="button" mat-raised-button>Ganar Mundial</button></p>
    </mat-card-actions>
</mat-card>

<div *ngIf="lockFutbol" class="main-card center-content">
  <p #tooltip="matTooltip"
  matTooltip="Precio: ${{componentPrice}}"
  matTooltipPosition="below"
  matTooltipHideDelay="0">
    
    <button [disabled]="!allowButtonUnlock()" type="button" (click)="buttonUnlockComponent()" mat-raised-button>
      <mat-icon aria-hidden="false" aria-label="lock_open" fontIcon="lock_open"></mat-icon>
      Desbloquear AFA
    </button>
  </p>
</div>
